.chatCardContainer {
  padding-top: 1em;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 1.1em;
  border-bottom: 1px solid rgb(221, 221, 221);
  padding: 2em 1em;
  line-height: 1.5em;
  position: relative;
  color: black;
  box-sizing: border-box;
}


.chatCardContainer__img {
  height: 80px;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.chatCardContainer__name {
  width: 45%;
  margin: 0 auto;
  padding-bottom: 4px;
}

.chatCardContainer__message {
  color: rgb(98, 98, 98);
  font-size: 1em;
  margin-top: 5px;
  width: 45%;
  height: 26px;
  margin: 0 auto;
  overflow: hidden;
}

.chatCardContainer__time {
  position: absolute;
  top: 20%;
  right: 7%;
  color: rgb(98, 98, 98);
  font-size: 0.9em;
}

@media(width: 1024px) {
  .chatCardContainer__img{
    height: 90px;
    margin-left: 0.4%;
  }

  .chatCardContainer__name {
    font-size: 1.3em;
    margin-left: 14%;
  }

  .chatCardContainer__message {
    margin-left: 14%;
  }
}

@media(min-width: 1280px) {
  .chatCardContainer__img{
    height: 100px;
    margin-left: 0.6%;
  }

  .chatCardContainer__name {
    margin-left: 8%;
    font-size: 1.4em;
  }

  .chatCardContainer__message {
    margin-left: 8%;
    font-size: 1.1em;
  }

  .chatCardContainer__time {
    font-size: 1em;
  }
}
