.chatPageContainer {
  padding-top: 55px;
  padding-bottom: 71px;
  max-width: 99.9vw;
}

.chatPageContainer__noChats {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.chatPageContainer__noChats__logo {
  margin-top: 1em;
  width: 70vw;
  margin-left: 15vw;
}

@media(width: 1024px) {
  .chatPageContainer__noChats__logo {
    width: 40vw;
    margin-left: 31vw;
  }
}

@media(min-width: 1280px) {
  .chatPageContainer__noChats__logo {
    width: 30vw;
    margin-left: 35vw;
  }
}
