.chatPageContainer {
  padding-top: 55px;
  padding-bottom: 71px;
  max-width: 99.9vw;
}

.chatPageContainer__noChats {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.chatPageContainer__noChats__logo {
  margin-top: 1em;
  margin-left: auto;
  width: 70vw;
  margin-left: 15vw;
}