.message{
  display: inline-block;
  box-sizing: border-box;
  max-width: 85%;
  overflow-wrap: break-word;
  font-size: 1em;
  padding: 7px;
  margin: 10px;
  margin-bottom: 0px;
  border-radius: 5px;
}

.message--sent{
  float: right;
  color: #fff;
  background-color: rgb(4, 0, 102);
}

.message--received{
  float: left;
  background-color: #e3e3e3;
}
