.sendMessageForm {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #CBCBCB;
  height: 61px;
}

.sendMessageForm__input {
  width: 75%;
  font-size: 1em;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.sendMessageForm__button {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  border: none;
  background-color: Transparent;
}

.sendMessageForm__button__image {
  height: 30px;
}

@media(width: 1024px) {
  .sendMessageForm__input {
    width: 90.7%;
  }

  .sendMessageForm__button {
    right: 0%;
    height: 35px;
    width: 35px;
  }

  .sendMessageForm__button__image {
    height: 35px;
  }
}

@media(min-width: 1280px) {
  .sendMessageForm__input {
    width: 94.7%;
  }

  .sendMessageForm__button {
    right: 0%;
    height: 35px;
    width: 35px;
  }

  .sendMessageForm__button__image {
    height: 35px;
  }
}
