.topBarChat {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #FCC63F;
  height: 8vh;
  z-index: 100;
}

.topBarChat__img {
  width: 16%;
  position: absolute;
  margin-top: 3.8%;
  margin-left: 3.5%;
}

.topBarChat__text {
  font-size: 1.3em;
  margin: 4.5% 23%;
}

@media(width: 768px){
  .topBarChat__img {
    width: 14%;
    position: absolute;
    margin-top: 2.5%;
    margin-left: 2.5%;
  }

  .topBarChat__text {
    font-size: 1.6em;
    margin: 3.5% 19%;
  }
}

@media(width: 1024px){
  .topBarChat__img {
    width: 8%;
    margin-top: 1.4%;
    margin-left: 1.2%;
  }

  .topBarChat__text {
    font-size: 1.6em;
    margin: 1.75% 10.4%;
  }
}

@media(min-width: 1280px){
  .topBarChat__img {
    width: 6%;
    margin-top: 0.8%;
    margin-left: 0.8%;
  }

  .topBarChat__text {
    font-size: 1.7em;
    margin: 1.25% 7.5%;
  }
}
