.topBarChat {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #FCC63F;
  height: 55px;
  z-index: 100;
  padding: 10px;
  box-sizing: border-box;
}

.topBarChat__back {
  height: 100%;
  box-sizing: border-box;
}

.topBarChat__img {
  height: 75%;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 8vh;
  transform: translateY(-50%);
}

.topBarChat__text {
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  left: 16vh;
  transform: translateY(-50%);
}

@media(width: 1024px) {
  .topBarChat__text {
    font-size: 1.6em;
  }
}

@media(min-width: 1280px) {
  .topBarChat__text {
    font-size: 1.6em;
  }
}
