.searchbar {
  /* width: 100%; */ /*Dit verpest de hele pagina?*/
  padding: 10px;
  font-size: 110%;
  margin-top: 40px;
  margin: 8px;
  box-sizing: border-box;
  background-color: rgb(237, 237, 237);
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
}

h1{
  font-size: 180%;
  font-weight: 400;
}
