.button_chat{
  width: 46%;
  padding: 10px;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 0;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  color: #000;
  background-color: #FCC63F;
  box-shadow: 5px 5px 5px #CDCDCD;
  margin-left: 0.6em;
}

.linkChatButton{
  text-decoration: none;
}
