.userInfoContainer {
  position: relative;
  margin-top: 20%;
  margin-left: 3%;
}

.profilePicture {
  border-radius: 100%;
  width: 100px;
}

.userName {
  display: inline-block;
  position: absolute;
  top: 0;
  margin-left: 15px;
}

.editIcon {
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

.travelRouteContainer {
  position: relative;
  margin-left: 3%;
  margin-top: 5%;
}

.travelName {
  position: absolute;
  margin-top: 3%;
}

.whereFrom {
  position: absolute;
  margin-top: 10%;
}

.interestsContainer {
  position: relative;
  margin-top: 30%;
  margin-left: 3%;
}

.interestName {
  position: absolute;
  margin-top: 5%;
}

.interestsList {
  position: absolute;
  margin-top: 22%;
}
