.friendsListPageContainer {
  padding-top: 55px;
  padding-bottom: 71px;
}

.friendsListPageContainer__noFriends {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.friendsListPageContainer__noFriends__logo {
  margin-top: 1em;
  margin-left: auto;
  width: 70vw;
  margin-left: 15vw;
}

@media(width: 1024px) {
  .friendsListPageContainer__noFriends__logo {
    width: 40vw;
    margin-left: 31vw;
  }
}

@media(min-width: 1280px) {
  .friendsListPageContainer__noFriends__logo {
    width: 30vw;
    margin-left: 35vw;
  }
}
