.HomePage {
  width: 100vw;
  height: 100vh;
  background-color: #FCC63F;
}

.HomePage__container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HomePage__container__img {
  width: 100%;
  padding-bottom: 1em;
}

.HomePage__container__text {
  text-align: center;
}

@media(width: 1024px) {
  .HomePage__container__img {
    width: 70%;
    margin-left: 16%;
    padding-bottom: 0;
  }

  .HomePage__container__text {
    margin-bottom: 15%;
    font-size: 2.5em;
  }
}

@media(min-width: 1280px) {
  .HomePage__container__img {
    width: 50%;
    position: absolute;
    margin-top: 0%;
    margin-left: 50%;
    transform: translate(-50%, -20%);
  }

  .HomePage__container__text {
    margin-top: 55%;
    font-size: 2.5em;
  }
}
