.HomePage {
  width: 100vw;
  height: 100vh;
  background-color: #FCC63F;
}

.HomePageContainer {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HomePageImg {
  width: 100%;
  padding-bottom: 1em;
}

.HomePageText {
  text-align: center;
}

.HomePageLink {
  text-decoration: none;
  color: #000;
}

.HomePageLinkTekst {
  text-align: center;
  text-decoration: none;
  color: #222;
  padding: 50px 0;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media(width: 768px){
  .HomePageText {
    font-size: 2em;
  }

  .HomePageLinkTekst {
    top: 88%;
    font-size: 1.3em;
  }
}

@media(width: 1024px){
  .HomePageImg {
    width: 70%;
    position: absolute;
    margin-top: 0%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
  }

  .HomePageText {
    margin-top: 20%;
    font-size: 2em;
  }

  .HomePageLinkTekst {
    top: 88%;
    font-size: 1.3em;
  }
}

@media(min-width: 1280px){
  .HomePageImg {
    width: 60%;
    position: absolute;
    margin-top: 0%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
  }

  .HomePageText {
    margin-top: 15%;
    font-size: 2.5em;
  }

  .HomePageLinkTekst {
    top: 88%;
    font-size: 1.5em;
  }
}
