.loginPageContainer {
  padding-top: 55px;
}

.loginPageContainer__form {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.loginPageContainer__form__item {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1.5em;
}

.loginPageContainer__form__item__label {
  margin-top: 0.5em;
  font-size: 1.4em;
}

.loginPageContainer__form__item__input {
  margin-top: 1em;
  padding: 10px;
  font-size: 110%;
  box-sizing: border-box;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
}

.loginPageContainer__form__item__input:focus {
  border: 1px solid #FCC63F;
  border-radius: 0;
}

.loginPageContainer__form__button {
  width: 100%;
  padding: 10px;
  margin-top: 2.5em;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
  background-color: #FCC63F;
  box-shadow: 5px 5px 5px #CDCDCD;
}

.loginPageContainer__form__register {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1em;
  text-align: center;
  font-size: 0.9em;
}

.loginPageContainer__form__register__textNoAccount {
  margin-top: 1.5em;
}

.loginPageContainer__form__register__link {
  color: #000;
}

.loginPageContainer__form__errorMessage {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(255, 0, 0, 0.1);
  padding: 0.7em 0.6em;
  margin: 1.2em 0 0 0;
}

.loginPageContainer__form__errorMessage__text {
  color: #740a01;
}

.loginPageContainer__form__errorMessage--hide {
  display: none;
}

@media(width: 1024px) {
  .loginPageContainer__form__button{
    width: 50%;
    margin-left: 25%;
  }

  .loginPageContainer__form__register {
    font-size: 1em;
  }

  .loginPageContainer__form__register__textNoAccount{
    padding: 0.2em;
  }
}

@media(min-width: 1280px) {
  .loginPageContainer__form__button{
    width: 50%;
    margin-left: 25%;
  }

  .loginPageContainer__form__register {
    font-size: 1.1em;
  }

  .loginPageContainer__form__register__textNoAccount{
    padding: 0.2em;
  }

  .loginPageContainer__form__item {
    width: 75%;
    margin-left: 12.5%;
  }
}
