.LoginPageContainer {
  margin-top: 8vh;
}

.form {
  width: 70%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.formgroup {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1.5em;
}

.label {
  margin-top: 0.5em;
  font-size: 1.4em;
}

.formcontrol {
  margin-top: 1em;
  padding: 10px;
  font-size: 110%;
  box-sizing: border-box;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
}

.formcontrol:focus{
  border: 1px solid rgb(199, 199, 199);
  border-radius: 5px;
}
