.searchPageContainer {
  padding-top: 55px;
  padding-bottom: 71px;
}

.searchPageContainer__text {
  padding: 16px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.searchPageContainer__noMatches {
  text-align: center;
  font-size: 1.5em;
  margin-top: 1em;
}

.searchPageContainer__noMatches__logo {
  margin-top: 1em;
  margin-left: auto;
  width: 70vw;
  margin-left: 15vw;
}

@media(width: 1024px) {
  .searchPageContainer__noMatches__logo {
    width: 40vw;
    margin-left: 31vw;
  }
}

@media(min-width: 1280px) {
  .searchPageContainer__noMatches__logo {
    width: 30vw;
    margin-left: 35vw;
  }
}
