.setUpAccountPageContainer {
  padding-top: 55px;
}

.setUpAccountPageContainer__interest {
  margin: 0 auto;
  width: 80%;
}

.setUpAccountPageContainer__interest__title, .setUpAccountPageContainer__route__title, .setUpAccountPageContainer_profilePictureList__title {
  font-size: 1.4em;
  margin: 1.5em auto 1em auto;
}

.setUpAccountPageContainer__interest__choose {
  font-size: 1em;
  width: 100%;
  height: 3em;
  margin: 0.5em 0;
  padding: 0.3em;
  background-color: White;
  border-color: #003373;
  border-radius: 5px;
  border-width: 2px;
}

.setUpAccountPageContainer__interest__text {
  display: block;
}

.setUpAccountPageContainer__route {
  margin: 0 auto;
  width: 80%;
}

.setUpAccountPageContainer__route__to, .setUpAccountPageContainer__route__from {
  display: inline-block;
  font-size: 1.2em;
  font-weight: 400;
  margin: 1em 0;
  width: 25%;
}

.setUpAccountPageContainer__route__choose {
  font-size: 1em;
  width: 100%;
  height: 3em;
  margin: 0.5em 0;
  padding: 0.3em;
  background-color: White;
  border-color: #003373;
  border-radius: 5px;
  border-width: 2px;
  display: inline-block;
  width: 75%;
}

.setUpAccountPageContainer__interest__interestAdded {
  margin-left: 1em;
}

#added--interests {
  font-style: italic;
  color: #ababab;
}

.setUpAccountPageContainer_profilePictureList {
  width: 80%;
  margin: 0 auto;
}

.setUpAccountPageContainer_profilePictureList2 {
  width: 80%;
}

.setUpAccountPageContainer__link {
  text-decoration: none;
}

.setUpAccountPageContainer__link__button {
  display: block;
  width: 80%;
  padding: 10px;
  margin: 2em auto;
  border: none;
  border-radius: 5px;
  font-size: 1.3em;
  background-color: #FCC63F;
  box-shadow: 5px 5px 5px #CDCDCD;
}

.setUpAccountPageContainer__interest__errorMessage, .setUpAccountPageContainer__route__errorMessage {
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 5px;
  border: 1px solid rgba(255, 0, 0, 0.1);
  padding: 0.7em 0.6em;
  margin: 0.7em 0;
}

.setUpAccountPageContainer__interest__errorMessage__text, .setUpAccountPageContainer__route__errorMessage__text {
  color: #740a01;
}

.setUpAccountPageContainer__interest_errorMessage--hide, .setUpAccountPageContainer__route__errorMessage--hide {
  display: none;
}