.bottomNavItem {
  text-decoration: none;
  color: #000;
  padding: 15px 0;
}

.bottomNavItem--selected {
  background-color: #ABABAB;
}

.bottomNavItem__img {
  width: 25px;
}

.bottomNavItem__text {
  font-size: 0.7em;
}

@media(width: 1024px) {
  .bottomNavItem__text {
    font-size: 0.9em;
  }
}

@media(min-width: 1280px) {
  .bottomNavItemText {
    font-size: 1em;
  }
}
