.bottomNavItem {
  text-decoration: none;
  color: #000;
  padding: 15px 0;
  &--selected {
    background-color: #ABABAB;
  }
  &__img {
    width: 25px;
  }
  &__text {
    font-size: 0.7em;
  }
}

@media(width: 768px){
  .bottomNavItem__text {
    font-size: 0.9em;
  }
}

@media(width: 1024px){
  .bottomNavItem__text {
    font-size: 0.9em;
  }
}

@media(min-width: 1280px){
  .bottomNavItem__text {
    font-size: 1em;
  }
}
