.topBar {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #FCC63F;
  height: 55px;
  margin-bottom: 4vh;
  z-index: 100;
}

.topBar__img {
  height: 100%;
  position: relative;
  margin: 0 3%;
}

.topBar__img--logout {
  height: 45%;
  top: 50%;
  transform: translate(0, -50%);
  float: right;
}

.topBar__text {
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
}

.topBar__link--hidden {
  display: none;
}

@media(width: 1024px) {
  .topBar__text {
    font-size: 1.6em;
    left: 9%;
  }

  .topBar__img {
    margin: 0 2%;
  }

  .topBar__img--logout {
    height: 47%;
    top: 50%;
    transform: translate(0, -50%);
    float: right;
  }
}

@media(min-width: 1280px) {
  .topBar__text {
    font-size: 1.7em;
    left: 6%;
  }

  .topBar__img {
    margin: 0 2%;
  }

  .topBar__img--logout {
    height: 60%;
    top: 50%;
    transform: translate(0, -50%);
    float: right;
  }
}
