.topBar {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #FCC63F;
  height: 8vh;
  margin-bottom: 4vh;
  z-index: 100;
}

.topBar__img {
  height: 100%;
  position: absolute;
  margin-left: 3%;
}

.topBar__text {
  font-size: 1.3em;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(0, -50%);
}

@media(width: 768px) {
  .topBar__text {
    font-size: 1.6em;
    left: 15%;
  }
}

@media(width: 1024px) {
  .topBar__text {
    font-size: 1.6em;
    left: 10%;
  }
}

@media(min-width: 1280px) {
  .topBar__text {
    font-size: 1.7em;
    left: 10%;
  }
}