.interestsAccountContainer {
  margin-top: 5%;
  margin-left: 3%;
}

.interestsAccountContainer__interest {
  line-height: 1.3;
}

@media(width: 1024px) {
  .interestsAccountContainer {
    font-size: 1.1em;
  }
}
