.interestsAccountContainer {
  margin-top: 5%;
  margin-left: 3%;
}

.interestsAccountContainer__interest {
  line-height: 1.3;
}

@media(width: 1024px) {
  .interestsAccountContainer {
    font-size: 1.1em;
  }
}

@media(min-width: 1280px) {
  .interestsAccountContainer {
    font-size: 1.1em;
  }

  .interestsAccountContainer {
    margin-top: 3%;
  }
}
