.userInfoContainer {
  position: relative;
  margin-top: 20%;
  margin-left: 3%;
}

.userInfoContainer__profilePicture {
  border-radius: 100%;
  width: 100px;
}

.userInfoContainer__userName {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 15px;
  font-size: 2em;
  font-weight: bold;
}

.userInfoContainer__editIcon {
  width: 24px;
  position: absolute;
  top: 0;
  right: 0;
}

@media(width: 1024px) {
  .userInfoContainer {
    margin-top: 9.5%;
  }

  .userInfoContainer__userName {
    font-size: 2.3em;
    margin-left: 0.9em;
  }

  .userInfoContainer__editIcon {
    width: 28px;
    right: 1%;
  }
}

@media(min-width: 1280px) {
  .userInfoContainer {
    margin-top: 6%;
  }

  .userInfoContainer__userName {
    font-size: 2.3em;
    margin-left: 0.9em;
  }

  .userInfoContainer__editIcon {
    width: 28px;
    right: 1%;
  }
  .userInfoContainer__profilePicture {
    width: 120px;
  }
}
