.userInfoFriendsContainer {
  position: relative;
  padding: 16px;
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.userInfoFriendsContainer__profilePicture {
  border-radius: 100%;
  width: 80px;
}

.userInfoFriendsContainer__usernameFriends {
  display: inline-block;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  margin-left: 15px;
  font-size: 1.5em;
  color: #000066;
  font-weight: bold;
}

.button__unfriend {
  background-color: pink;
  color: black;
  padding: 5px;
  margin-left: 15px;
}

/* .whereFromFriends {
  position: absolute;
  margin-left: 35%;
  margin-top: -22%;
}

.travelRouteFriendsContainer {
  position: relative;
  width: 90%;
  margin-left: 9.3%;
  margin-top: 6%;
}

.travelRouteName {
  font-size: 0.8em;
  position: absolute;
  margin-top: -24%;
  margin-left: 35%;
}

.whereFromFriends {
  position: absolute;
  margin-top: -19%;
}

.interestsFriendsContainer {
  position: relative;
  margin-left: 40.8%;
  margin-top: 3%;
}

.interestsNameFriends {
  position: absolute;
  font-size: 0.8em;
}

.interestsListFriends {
  position: absolute;
  margin-top: 8.5%;
} */