.userInfoFriendsContainer {
  position: relative;
  margin-top: 3vh;
  margin-bottom: 3vh;
  margin-left: 3vh;
  width: 90vw;
  align-items: center;
}

.pf {
  border-radius: 100%;
  width: 100px;
}

.usernameFriends {
  display: inline-block;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  margin-left: 15px;
  font-size: 2em;
}

.button__unfriend {
  background-color: pink;
  color: black;
  padding: 5px;
  margin-left: 15px;
}

/* .whereFromFriends {
  position: absolute;
  margin-left: 35%;
  margin-top: -22%;
}

.travelRouteFriendsContainer {
  position: relative;
  width: 90%;
  margin-left: 9.3%;
  margin-top: 6%;
}

.travelRouteName {
  font-size: 0.8em;
  position: absolute;
  margin-top: -24%;
  margin-left: 35%;
}

.whereFromFriends {
  position: absolute;
  margin-top: -19%;
}

.interestsFriendsContainer {
  position: relative;
  margin-left: 40.8%;
  margin-top: 3%;
}

.interestsNameFriends {
  position: absolute;
  font-size: 0.8em;
}

.interestsListFriends {
  position: absolute;
  margin-top: 8.5%;
} */